<p id="notice"><%= notice %></p>

  <h3>Foster Agreement</h3>
<p>
  <strong>Pet:</strong>
  <%= (Pet.where id: @foster_pet.pet_id).first.name %><br>
  <%= image_tag((Pet.where id: @foster_pet.pet_id).first.image_url) %>
  </p>

<p>
  You agree to provide a good foster home for this animal, until s/he is permenantly adopted.

</p>

<%= button_to 'Cancel', adopt_url, method: :get %>
<%= button_to 'Confirm', new_foster_parent_path, method: :get %>
