<h1>Listing pet_items</h1>

<table>
  <thead>
    <tr>
      <th>Pet</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pet_items.each do |pet_item| %>
      <tr>
        <td><%= (Pet.where id: pet_item.pet_id).first.name %></td>
        <td><%= link_to 'Show', pet_item %></td>
        <td><%= link_to 'Edit', edit_pet_item_path(pet_item) %></td>
        <td><%= link_to 'Destroy', pet_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet item', new_pet_item_path %>
