<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @pet_item.pet %>
</p>

<p>
  <strong>Pet list:</strong>
  <%= @pet_item.pet_list %>
</p>

<%= link_to 'Edit', edit_pet_item_path(@pet_item) %> |
<%= link_to 'Back', pet_items_path %>
