<h1>Listing pet_lists</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pet_lists.each do |pet_list| %>
      <tr>
          <td><%= pet_list.id %></td>
        <td><%= link_to 'Show', pet_list %></td>
        <td><%= link_to 'Edit', edit_pet_list_path(pet_list) %></td>
        <td><%= link_to 'Destroy', pet_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet list', new_pet_list_path %>
