<h1>Available for Adoption</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Image URL</th>
      <th>Age</th>
      <th>Shots</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <% if pet.status == "Available" %>
        <tr>
          <td><%= pet.name %></td>
          <td><%= pet.breed %></td>
          <td><%= image_tag(pet.image_url, :class => 'list_image') %></td>
          <td><%= pet.age %></td>
          <td><%= pet.shots %></td>
          <td><%= pet.notes %></td>
          <td><%= link_to 'Show', pet %></td>
          <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
          <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= button_to 'Add to list', pet_items_path(pet_item: {pet_id: pet}), remote: true %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
