<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
    <%= image_tag(@pet.image_url) %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Shots:</strong>
  <%= @pet.shots %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @pet.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pet.status %>
</p>

<%= button_to 'Add to list', pet_items_path(pet_id: @pet), remote: true %>
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
