<!DOCTYPE html>
<html>
<head>
  <title>Pets</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Adopt a Pet" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="/">Home</a><br>
      <a href="/pets">Pets</a><br>
      <%= hidden_div_if(@pet_list.pet_items.empty?, id: 'list') do %>
          <%= render @pet_list %>
      <% end %>
      </div>
    </div>

    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
