<p id="notice"><%= notice %></p>

  <h3>Foster Agreement</h3>
<p>
  <strong>Pet:</strong>
  <%= @line_item.pet.name %><br>
  <%= image_tag(@line_item.pet.image_url) %>
  </p>

<p>
  You agree to provide a good foster home for this animal, until he is permenantly adopted.

</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
